<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @comentario.id %>
</p>

<p>
  <strong>Id user:</strong>
  <%= @comentario.id_user %>
</p>

<p>
  <strong>Id noticia:</strong>
  <%= @comentario.id_noticia %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @comentario.texto %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @comentario.titulo %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
