<p id="notice"><%= notice %></p>

<h1>Noticia</h1>

<table>
  <thead>
    <tr>
      <th>Titulo </th>
      <th>Contenido </th>
      <th>#Comentario</th>
      <th>Posteado por</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @noticia.each do |noticium| %>
      <tr>
        <td><%= noticium.titulo %></td>
        <td><%= noticium.contenido %></td>
        <td><%= noticium.comentario %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Show', noticium %></td>

            <td><%= link_to 'Edit', edit_noticium_path(noticium) %></td>
            <td><%= link_to 'Destroy', noticium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Noticium', new_noticium_path %>
