<p id="notice"><%= notice %></p>

<h1>Noticia</h1>

<div class="row">
  <% @noticia.each do |noticium| %>
    <div class="col-sm-6 col-md-4">


        <div class="thumbnail">
          <div class="caption">
            <h3><%= noticium.titulo %> </h3>
            <h4><%= noticium.bajada %></h4>
            <p><%= noticium.contenido %></p>
            <p><a href="#" class="btn btn-primary" role="button">Show</a>
              <button class="btn btn-primary" type="button">
                Comentarios <span class="badge"><%= noticium.comentario %></span>
              </button></p>


          </div>
        </div>

    </div>
    <% end %>
</div>

  <tbody>
    <% @noticia.each do |noticium| %>
      <tr>
        <td><%= noticium.titulo %></td>
        <td><%= noticium.contenido %></td>
        <td><%= noticium.comentario %></td>

        <td><%= link_to 'Show', noticium %></td>
        <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_noticium_path(noticium) %></td>
            <td><%= link_to 'Destroy', noticium, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% end %>
      </tr>
    <% end %>
  </tbody>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Noticium', new_noticium_path %>
<% end %>
