
<p>
  <strong>Titulo:</strong>
  <%= @noticium.titulo %>
</p>
<p>
  <strong>Bajada:</strong>
  <%= @noticium.bajada %>
</p>
<p>
  <strong>Contenido:</strong>
  <%= @noticium.contenido %>
</p>

<p>
  <% if user_signed_in? %>
    <strong>Administrador:</strong>
    <%= current_user.email %>
  <%end%>
</p>
<p>
<strong># Comentarios:</strong>
<%= @noticium.comments.count %>
</p>
<p> Escribe un comentario</p>
<%= render "comments/form" %>


<p>

  <%= render @noticium.comments %>

</p>



<% if user_signed_in? %>
  <%= link_to 'Edit', edit_noticium_path(@noticium) %> |
  <%= link_to 'Back', noticia_path %>
<% end %>
