
<p>
  <strong>Titulo:</strong>
  <%= @noticium.titulo %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @noticium.contenido %>
</p>

<p>
  <% if user_signed_in? %>
    <strong>Nombre:</strong>
    <%= current_user.email %>
  <%end%>
</p>

<p>
  <strong># Comentarios:</strong>
  <%= @noticium.comentario %>
</p>

<%= link_to 'Edit', edit_noticium_path(@noticium) %> |
<%= link_to 'Back', noticia_path %>
